/* style.css */
body {
    background-color: #e3f6f5;
    border: thick double #38598b;
    padding: 10px;
    margin: 10px;
}

h1 {
    border-style: double;
    border-bottom: 2px solid #6a0808;
    border-left: none;
    border-right: none;
    text-align: center;
}


h2 {
    background-color: darkgray;
    border-style: double;
    border-color: darkolivegreen;
    text-align: center;
}

h3 {
    background-color: #96ceb4;

}

.css_perso {

    color: teal;
    font-style: normal;
}

.illegible {
    color: tomato;
}

.faded {
    color: slategray;
    border-bottom: dotted 1px;
    border-top: dotted 1px;
}

.legende {
    display: flex;
    border-bottom: solid steelblue;
}

.biblio {
    border-top: dotted 1px;
    border-bottom: dotted 1px;
    margin: 3px;
    padding: 3px
}

dt {
    margin: 5px;
}
li {
    margin: 10px;
}

img {
    margin: 20px;
}


div.row {
    display: flex;
}
